*{
    margin: 0;
}
.header{
    height: 100px;
    background-color: chocolate;
}
nav{
    display: flex;
    gap: 2px;
}
nav a{
    min-width: 100px ;
}
.footer{
    height: 100px;
    background-color: rgb(54, 52, 50);
}
.main{
    display: flex;
}
.sec1{
    height:80vh ;
    background-color: peachpuff;
    flex: 1;
}
.sec2{
    
    background-color: rgb(185, 255, 194);
    flex: 3;
    display: flex;
}
.sec3{
    background-color: rgb(185, 229, 255);
    flex: 1;
}
.sec-sec1{
    flex: 1;
    background-color: brown;
}
.sec-sec2{
    flex: 3;
    background-color: chartreuse;
    border-radius: 50%;
    display: flex;
    align-items: center;
}
.sec-sec3{
    flex: 1;
    background-color: chocolate;
}
.sec-tri1{
    flex: 1;
    background-color: rgb(210, 207, 30);
    height: 12rem;
    border-radius: 50%;
}
.sec-tri2{
    flex: 1;
    background-color: rgb(210, 30, 150);
    height: 12rem;
    border-radius: 50%;
}
.sec-tri3{
    flex: 1;
    background-color: rgb(30, 153, 210);
    height: 12rem;
    border-radius: 50%;
}